{% extends 'base.html'%}

{% block navbar %}
    {% include 'navbar2.html' %}
{% endblock %}

{% import 'bootstrap/wtf.html' as wtf%}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="card details-card">
                <h1 class="text-center">Add Listing Details</h1>
                <hr>
                <h4>Image</h4>
                    {% if listing.featured_pic_path %}
                    <img src="{{url_for('static',filename = listing.featured_pic_path)}}" alt="" height="200">
                    {% endif %}

                    <form action="{{url_for('main.listing_times',listing_id=listing.id)}}" id="image-form" method="post" enctype="multipart/form-data">
                        <input type="file" name="photo" class="form-control picture" required >
                        <input type="submit" name="submit" class="btn btn-info-outline" value="Upload Picture">
                    </form>
                <h4>Timeslots</h4>
                    {{wtf.quick_form(time_form)}}
                    <a class="btn btn-info" href="{{url_for('main.single_listing',listing_id=listing.id)}}">Done</a>
            </div>
        </div>
    </div>
{% endblock%}
