
{% extends 'base.html'%}
{% block navbar %}

    {% include 'navbar2.html' %}

{% endblock %}
{% import 'bootstrap/wtf.html' as wtf%}
{% block content %}



<div class="top">

</div>
<div class="container">

    <div class="row">
        <div class="col-md-12">
            <h3>Add Timeslots</h3>

            <form action="{{ url_for('main.listing_times', listing_id = listing.id)}}" method="post">
                <label for="party-time" class="time">Date</label>
                <input type="date" id = "view-date" name="party-date"
                min="2018-06-07T00:00" max="2018-06-14T00:00" required/><br>
                <label for="party-time" class="time">Start Time</label>
                <input type="time" id="view-time"
                name="party-time"
                min="08:00" max="18:00" required/>
                <label for="party-time2" class="time">Stop Time</label>
                <input type="time" id="view-time2"
                name="party-time2"
                min="08:00" max="18:00" required/>
                {{wtf.quick_form(list_form)}}
            </form>
            <hr>

            <div class="">

                {% if listing.featured_pic_path %}
                <img src="{{url_for('static',filename = listing.featured_pic_path)}}" alt="" class="img-thumbnail rounded-circle">
                {% endif %}

                <form action="{{url_for('main.listing_times',listing_id=listing.id)}}" method="post" enctype="multipart/form-data">
                    <input type="file" name="photo" class="form-control picture" required >
                    <input type="submit" name="submit" value="Upload Picture">
                </form>

                <a class="btn btn-book" href="{{url_for('main.single_listing',listing_id=listing.id)}}">Done</a>
        </div>
</div>

{% endblock%}
