


<div class="container wrapper">
    <div class="row text">

        <div class="col-sm-6 col-md-4">
            <div class="card article">
                <a href="#" target="_blank">
                    <img class="card-img-top" src="#" alt="Image of ">
                </a>
                <div class="card-body">
                    <h4 class="card-title">Listing description</h4>
                    <p class="metadata">Agent</p>
                    <p class="metadata">Location</p>
                    <hr>
                </div>
            </div>
        </div>

    </div>
</div>
